/* Colors */
/* Typography */
/* Sizes */
@font-face {
  font-family: 'routs-type';
  src: url("../fonts/routs-type.ttf?zcwbdi") format("truetype");
  font-weight: normal;
  font-style: normal; }

.type_ico i, .search-icon-routes {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'routs-type' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  padding-right: 12px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.type-12:before {
  content: "\e900"; }

.type-9:before {
  content: "\e909"; }

.type-5:before {
  content: "\e902"; }

.type-2:before {
  content: "\e903"; }

.type-11:before {
  content: "\e904"; }

.type-10:before {
  content: "\e905"; }

.type-7:before {
  content: "\e906"; }

.type-4:before {
  content: "\e907"; }

.type-1:before {
  content: "\e908"; }

.type-6:before {
  content: "\e901"; }

.type-8:before {
  content: "\e90a"; }

.type-3:before {
  content: "\e90b"; }

/* Border-Box */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*, *:focus, *:active {
  outline: none !important; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

html,
body {
  height: 100%; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  line-height: 1.42857143;
  font-family: "Roboto Condensed", sans-serif;
  color: #282828; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 0; }

b,
strong {
  font-weight: bold; }

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  margin: 0; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  color: #6aa647;
  text-decoration: none; }

a:hover {
  color: #6aa647;
  text-decoration: none; }

textarea::-webkit-selection,
input::-webkit-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87); }

textarea::-moz-selection,
input::-moz-selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87); }

textarea::selection,
input::selection {
  background-color: rgba(100, 100, 100, 0.4);
  color: rgba(0, 0, 0, 0.87); }

/* Force Simple Scrollbars */
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px; }

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0; }

body ::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }

body ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(128, 135, 139, 0.8); }

body ::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 135, 139, 0.8); }

.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="radio"], input[type="checkbox"] {
  display: none; }
  input[type="radio"] ~ label, input[type="checkbox"] ~ label {
    position: relative; }
    input[type="radio"] ~ label:before, input[type="checkbox"] ~ label:before {
      content: "";
      width: 11px;
      height: 11px;
      background: #939393;
      display: inline-block;
      vertical-align: baseline;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 50%; }
  input[type="radio"]:checked ~ label:before, input[type="checkbox"]:checked ~ label:before {
    background-color: #6aa647; }

input[type="checkbox"] ~ label {
  padding-left: 24px; }
  input[type="checkbox"] ~ label:before {
    border-radius: 4px;
    border: 2px solid #939393;
    background: none;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    position: absolute;
    left: 0;
    top: 2px; }

input[type="checkbox"]:checked ~ label:before {
  background: none;
  border-color: #6aa647; }

input[type="checkbox"]:checked ~ label:after {
  font-family: "icomoon";
  position: absolute;
  left: 3px;
  top: 1px;
  bottom: 0;
  margin: auto;
  font-size: 10px;
  color: #6aa647; }

input:not([type="radio"]), input:not([type="checkbox"]), select:not([type="radio"]), select:not([type="checkbox"]) {
  background-color: transparent;
  border: 1px solid rgba(40, 40, 40, 0.28);
  border-radius: 2px;
  padding: 6px;
  min-width: 0;
  font-size: 14px; }
  input:not([type="radio"]):focus, input:not([type="checkbox"]):focus, select:not([type="radio"]):focus, select:not([type="checkbox"]):focus {
    border-color: #6aa647; }

input::-webkit-input-placeholder {
  color: #939393; }

input::-moz-placeholder {
  color: #939393; }

input:-moz-placeholder {
  color: #939393; }

input:-ms-input-placeholder {
  color: #939393; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 32px !important; }

.background_opacity_gray {
  background: rgba(56, 56, 56, 0.7); }

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none; }

.icon-circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

a.icon-circle_green:hover {
  background-color: #31a524;
  color: #ffffff; }

a.icon-circle_green:active {
  background-color: #298b1e; }

.icon-circle_green {
  background-color: #2d9821;
  color: #ffffff; }

.page-main-container {
  position: relative;
  overflow: hidden; }

.content-container {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 95px 0 248px; }

.page-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%; }

.page-wrapper_padding {
  padding-left: 15px;
  padding-right: 15px; }

.header, .footer {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%; }

.header {
  height: 95px;
  background-color: #ffffff; }

.header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header__logo {
  padding-left: 5px;
  font-size: 0;
  padding-bottom: 13px;
  width: 275px; }

.header__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 46px 18px 58px; }

.header__menu-link {
  font-size: 20px;
  color: #282828; }
  .header__menu-link:hover {
    color: #6aa647; }

.header__menu-link_active {
  color: #6aa647; }

.header__right {
  padding-bottom: 14px;
  padding-right: 15px; }

.header__auth {
  text-align: right;
  padding-right: 2px;
  margin-bottom: 5px; }

.header__auth-link {
  color: #6aa647;
  font-size: 20px;
  font-weight: 700; }
  .header__auth-link svg {
    color: #282828;
    margin-left: 8px;
    -webkit-transition: .3s opacity;
    transition: .3s opacity; }
  .header__auth-link:hover {
    color: #282828; }
    .header__auth-link:hover svg {
      opacity: 0.8; }

.search-input {
  position: relative;
  width: 215px; }

.search-input__input {
  width: 100%;
  height: 31px; }

.search-input__btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  background: #887037;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0 2px 2px 0;
  font-size: 0; }
  .search-input__btn svg {
    font-size: 16px;
    color: #ffffff; }
  .search-input__btn:hover {
    opacity: 0.7; }
  .search-input__btn:active {
    padding-top: 4px; }

.section-search {
  position: relative; }

.section-img-bg {
  position: relative;
  height: 383px;
  overflow: hidden; }
  .section-img-bg:before {
    content: "";
    background-color: rgba(46, 46, 46, 0.58);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; }

.section-img-bg__img {
  position: absolute;
  top: -95px;
  left: 0;
  width: 100%;
  min-height: calc(100% + 95px);
  -o-object-fit: cover;
     object-fit: cover; }

.section-img-bg__meta {
  position: absolute;
  bottom: 56px;
  z-index: 1;
  margin: auto;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 780px;
  right: 0;
  padding: 4px 18px; }

.section-img-bg__meta-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300; }
  .section-img-bg__meta-text .icon-circle {
    margin-right: 10px;
    float: left;
    margin-top: -2px;
    font-size: 12px; }

.main-search-form {
  margin-top: 117px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5; }

.main-search-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 0 3px 1px rgba(53, 53, 53, 0.25);
          box-shadow: 0 0 3px 1px rgba(53, 53, 53, 0.25);
  height: 80px;
  position: relative; }

.main-search-form__clear-link {
  width: 26px;
  height: 26px;
  float: right;
  margin-right: 7px;
  margin-top: 9px; }

.main-search-form__select {
  width: 200px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  height: 100%; }
  .main-search-form__select:not(:last-of-type) {
    border-right: 1px solid rgba(119, 179, 94, 0.3); }
  .main-search-form__select select {
    height: 100%;
    border: none;
    text-align: center;
    padding: 0 32px;
    display: block;
    text-align-last: center;
    width: 100%; }
  .main-search-form__select .tzSelect {
    margin: auto;
    text-align: center;
    min-width: 100%;
    height: 100%; }
  .main-search-form__select .selectBox {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 24px;
    font-size: 16px;
    color: #888888;
    font-weight: 300;
    -webkit-transition: .5s padding;
    transition: .5s padding;
    letter-spacing: 0.2px; }
    .main-search-form__select .selectBox.selecteds {
      padding-bottom: 30px; }
      .main-search-form__select .selectBox.selecteds:after {
        bottom: 33px; }
    .main-search-form__select .selectBox:after {
      content: "";
      width: 10px;
      height: 10px;
      border: 2px solid #888888;
      border-width: 0 3px 3px 0;
      border-radius: 1px;
      display: block;
      position: absolute;
      right: 32px;
      top: 0;
      bottom: 3px;
      margin: auto;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: .5s bottom;
      transition: .5s bottom; }
    .main-search-form__select .selectBox:before {
      display: none; }
    .main-search-form__select .selectBox svg {
      color: #888888;
      margin-right: 12px;
      margin-bottom: 2px;
      font-size: 18px; }
    .main-search-form__select .selectBox.expanded {
      padding-bottom: 30px; }
      .main-search-form__select .selectBox.expanded:after {
        bottom: 26px;
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg); }
  .main-search-form__select .selecBoxing.selecteds {
    position: absolute;
    bottom: 12px;
    padding-left: 24px;
    width: 100%;
    text-align: left;
    pointer-events: none; }
    .main-search-form__select .selecBoxing.selecteds svg {
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 10px; }
    .main-search-form__select .selecBoxing.selecteds i {
      font-size: 22px;
      vertical-align: -3px;
      margin-right: 10px; }
  .main-search-form__select .dropDown {
    background-color: #ffffff;
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    border-bottom: 4px solid #6aa647; }
    .main-search-form__select .dropDown li {
      padding-left: 32px;
      padding-top: 15px;
      padding-bottom: 15px; }
      .main-search-form__select .dropDown li img {
        display: none; }
      .main-search-form__select .dropDown li:hover {
        background: rgba(204, 204, 204, 0.2); }
    .main-search-form__select .dropDown svg {
      margin-right: 18px;
      font-size: 22px;
      margin-bottom: 2px;
      min-width: 32px; }

.main-search-form__select-lookfor .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f002"; }

.main-search-form__select-lookfor svg {
  margin-right: 22px;
  font-size: 22px;
  margin-bottom: 2px; }

.main-search-form__select-state .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f3c5"; }

.main-search-form__select-region .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f279"; }

.main-search-form__select-month .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f073"; }

.main-search-form__select-relax .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f0ca"; }

.main-search-form__select-relax .dropDown {
  width: calc(1170px - 30px);
  position: absolute;
  left: -784px;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 254px;
  border-bottom: none; }
  .main-search-form__select-relax .dropDown li {
    font-size: 16.28px;
    text-align: center;
    -ms-flex-preferred-size: 16.666%;
        flex-basis: 16.666%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 400; }
    .main-search-form__select-relax .dropDown li img {
      display: block;
      margin: 0 auto; }

.main-search-form__button {
  width: 164px;
  background: #2d9821;
  color: #ffffff;
  cursor: pointer;
  height: 100%;
  font-size: 20px; }
  .main-search-form__button:hover {
    background: #2fa023; }
  .main-search-form__button:active {
    background: #2b901f; }

.main-search-form__user-search-link {
  position: absolute;
  left: 0;
  top: -32px;
  padding: 4px 12px;
  display: inline-block;
  color: #ffffff;
  font-size: 12px; }
  .main-search-form__user-search-link span {
    text-decoration: underline; }

.search-icon-routes {
  padding-right: 0;
  font-size: 48px;
  color: #6aa647; }
  .search-icon-routes.type-6 {
    padding-right: 6px; }

.sort-results {
  float: right;
  font-size: 16px;
  min-width: 142px;
  position: relative; }

.sort-results__label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px; }
  .sort-results__label svg {
    margin-right: 4px; }

.sort-results__dropdown {
  padding: 4px 0;
  background: #ffffff;
  top: 100%;
  right: 0;
  border: 1px solid rgba(158, 139, 93, 0.5);
  position: absolute;
  display: none; }

.sort-results__dropdown-item span, .sort-results__dropdown-item a {
  padding: 8px 31px;
  display: block;
  color: #9e8b5d;
  position: relative; }
  .sort-results__dropdown-item span svg, .sort-results__dropdown-item a svg {
    position: absolute;
    left: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #9e8b5d; }

.sort-results__dropdown-item a:hover {
  background-color: rgba(158, 139, 93, 0.05); }

.sort-results__link {
  font-size: 16px;
  letter-spacing: 0.2px;
  display: inline-block;
  vertical-align: middle; }
  .sort-results__link a, .sort-results__link span {
    color: #9e8b5d; }
    .sort-results__link a svg, .sort-results__link span svg {
      margin-right: 4px; }

.search-results__top {
  padding: 40px 0 24px; }

.search-results__title {
  font-size: 22px;
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.6px; }

.search-results__item {
  border: 1px solid #d1d1d1;
  -webkit-transition: .3s border-color, -webkit-box-shadow;
  transition: .3s border-color, -webkit-box-shadow;
  transition: .3s border-color, box-shadow;
  transition: .3s border-color, box-shadow, -webkit-box-shadow;
  margin-bottom: 38px;
  background-color: #ffffff; }
  .search-results__item:hover {
    -webkit-box-shadow: 0 0 3px #2d9821;
            box-shadow: 0 0 3px #2d9821;
    border-color: #2d9821; }

.search-results__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 27px 17px; }

.search-results__item-rests {
  height: 40px;
  background-color: #2d9821;
  padding-left: 213px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 37px;
  margin-left: -1px;
  margin-right: -1px; }
  .search-results__item-rests i {
    font-family: "routs-type";
    color: #ffffff;
    font-size: 24px;
    font-style: normal; }
    .search-results__item-rests i:not(:last-of-type) {
      margin-right: 32px; }

.search-results__item-rests-list {
  display: none; }
  .search-results__item-rests-list._active {
    display: inline-block; }

.search-results__item-rests-title {
  color: #ffffff;
  font-size: 16px;
  margin-right: 26px; }

.search-results__item-left {
  margin-right: 36px; }

.search-results__item-center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 0; }

.search-results__item-right {
  margin-left: 30px;
  margin-bottom: -20px;
  min-width: 220px; }

.search-results__item-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden; }

.search-results__item-name {
  font-size: 23px; }

.search-results__item-tabs-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px; }

.search-results__item-tabs-link {
  color: #939393;
  font-size: 18px; }
  .search-results__item-tabs-link._active {
    color: #6aa647; }

.search-results__item-tabs-content {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  max-height: 22px;
  width: 100%;
  display: block; }
  .search-results__item-tabs-content p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }

.search-results__item-terms {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.search-results__item-terms-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  letter-spacing: 0.4px; }
  .search-results__item-terms-item svg {
    margin-right: 6px;
    min-width: 26px; }

.search-results__item-terms-option {
  color: #6aa647;
  display: none; }
  .search-results__item-terms-option._active {
    display: inline; }

.pagination {
  margin: 30px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pagination__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #6aa647;
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination__link:not(:last-of-type) {
    margin-right: 16px; }

.pagination__link_active, .pagination__link:hover {
  color: #282828;
  border-color: #282828; }

.footer {
  background: #232323;
  bottom: 0;
  color: #ffffff;
  padding: 56px 0 0; }

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer__apps-title {
  font-size: 13px;
  margin-top: 16px;
  display: block;
  letter-spacing: 0.7px; }

.footer__apps-img {
  width: 164px;
  position: relative;
  margin-top: 8px; }

.footer__apps-link {
  position: absolute;
  width: 50%;
  z-index: 1;
  bottom: 5px;
  border-radius: 4px;
  top: 0;
  -webkit-transition: .3s box-shadow;
  transition: .3s box-shadow; }
  .footer__apps-link:hover {
    -webkit-box-shadow: 0 0 5px #fff inset;
            box-shadow: 0 0 5px #fff inset; }

.footer__apps-link-android {
  left: -1px; }

.footer__apps-link-ios {
  right: -1px; }

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 30px;
  padding-top: 12px; }

.footer__menu-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 7px;
  color: #6aa647;
  letter-spacing: 0.6px; }

.footer__menu-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  white-space: nowrap; }
  .footer__menu-list:last-of-type {
    -webkit-box-flex: 0.85;
        -ms-flex: 0.85;
            flex: 0.85; }

.footer__menu-item {
  line-height: 20px; }

.footer__menu-link {
  font-size: 12px;
  color: #ffffff; }

.footer__right {
  padding-top: 12px; }

.footer__mail-link {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 19px;
  text-align: left;
  display: block; }
  .footer__mail-link svg {
    margin-right: 8px;
    vertical-align: middle; }

.footer__social {
  padding: 0 8px;
  width: 165px; }

.footer__social-title {
  font-size: 12px;
  text-align: left;
  margin-bottom: 7px; }

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__social-link {
  width: 26px;
  height: 26px;
  color: #ffffff;
  border-radius: 50%;
  -webkit-transition: .3s background-color;
  transition: .3s background-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }
  .footer__social-link:hover {
    color: #ffffff; }

.footer__social-in {
  background-color: #b62315; }
  .footer__social-in:hover {
    background-color: #881a10; }

.footer__social-vk {
  background-color: #0763d6; }
  .footer__social-vk:hover {
    background-color: #054ca5; }

.footer__social-od {
  background-color: #fca600; }
  .footer__social-od:hover {
    background-color: #c98400; }

.footer__social-fb {
  background-color: #0462d6; }
  .footer__social-fb:hover {
    background-color: #034ba4; }

.footer__copyright {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-size: 10px;
  margin-top: 42px;
  height: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  padding-top: 9px; }
