.section-search {
  position: relative;
}
.place-container__item{
  border: 1px solid $border-color;
  transition: .3s border-color, box-shadow;
  margin-bottom: 38px;
  background-color: $white;
  &:hover {
    box-shadow: 0 0 3px $color-green2;
    border-color: $color-green2;
  }
}
.place-container__item-info{
  padding: 16px 24px;
}
.place-container__item-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}
.place-container__item-title{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .6px;
  text-transform: uppercase;
  font-family: $font-main;
  color: #575757;
}
.place-container__item-price{
  font-size: 22px;
  letter-spacing: .6px;
  .icon-many{
    font-size: 22px;
    margin-right: 10px;
  }
  .place-container__item-price-cost{
    color: #57a750;
  }
}
.place-container__item-center{
  color: #575757;
  font-size: 16px;
  letter-spacing: 0.6px;
}
.place-container__item-rest{
  width: 100%;
  padding: 0 42px
}
.place-container__item-rests {
  height: 40px;
  background-color: $color-green2;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: -1px;
  margin-right: -1px;
  white-space: nowrap;
  overflow: hidden;
  .place-container__item-rests-title{
    font-size: 16px;
    color: $white;
  }
  i {
    font-family: "routs-type";
    color: $white;
    font-size: 24px;
    font-style: normal;
  }
}