.navigation{
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
.navigation__link{
  height: 44px;
  width: 228px;
  display: flex;
  align-items: center;
  color: #fff;
  letter-spacing: 0.3px;
  font-size: 19px;
  background: #2d9821;
}
.navigation__link-back{
  background: #929292;
  justify-content: start;
  margin-right: 30px;
}
.navigation__link-done{
  justify-content: center;
}

