.search-filter {
  margin-top: 117px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
.search-filter__form {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0 3px 1px $outer-glow;
  height: 80px;
  position: relative;
}
.search-filter__clear-link {
  width: 26px;
  height: 26px;
  float: right;
  margin-right: 7px;
  margin-top: 9px;
}
.search-filter__select {
  width: 200px;
  background: $white;
  cursor: pointer;
  position: relative;
  height: 100%;
  &:not(:last-of-type) {
    border-right: 1px solid transparentize(#77b35e, 0.7);
  }
  select {
    height: 100%;
    border: none;
    text-align: center;
    padding: 0 32px;
    display: block;
    text-align-last: center;
    width: 100%;
  }
  .tzSelect {
    margin: auto;
    text-align: center;
    min-width: 100%;
    height: 100%;
  }
  .selectBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    font-size: 16px;
    color: $color-gray2;
    font-weight: 300;
    transition: .5s padding;
    letter-spacing: 0.2px;
    &.selecteds {
      padding-bottom: 30px;
      &:after {
        bottom: 33px;
      }
    }
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      border: 2px solid $color-gray2;
      border-width: 0 3px 3px 0;
      border-radius: 1px;
      display: block;
      position: absolute;
      right: 32px;
      top: 0;
      bottom: 3px;
      margin: auto;
      transform: rotate(45deg);
      transition: .5s bottom;
    }
    &:before {
      display: none;
    }
    svg {
      color: $color-gray2;
      margin-right: 12px;
      margin-bottom: 2px;
      font-size: 18px;
    }
    &.expanded {
      padding-bottom: 30px;
      margin-top: -1px;
      background-color: $white;
      &:after {
        bottom: 26px;
        transform: rotate(-135deg);
      }
      position: relative;
      ~ .dropDown {
        //margin-top: -30px;
      }
    }
  }
  .selecBoxing {
    &.selecteds {
      position: absolute;
      bottom: 12px;
      padding-left: 24px;
      width: 100%;
      text-align: left;
      pointer-events: none;
      svg {
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 10px;
      }
      i {
        font-size: 22px;
        vertical-align: -3px;
        margin-right: 10px;
      }
    }
  }
  .dropDown {
    background-color: $white;
    color: $color-gray-dark;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    border-bottom: 4px solid $color-green;
    li {
      padding-left: 32px;
      padding-top: 15px;
      padding-bottom: 15px;
      img {
        display: none;
      }
      &:hover {
        background: rgba(204, 204, 204, 0.2);
      }
    }
    svg {
      margin-right: 18px;
      font-size: 22px;
      margin-bottom: 2px;
      min-width: 32px;
    }
  }
}
.search-filter__select-lookfor {
  .selectBox:before {
    font-family: "Font Awesome 5 Solid";
    content: "\f002";
  }
  svg {
    margin-right: 22px;
    font-size: 22px;
    margin-bottom: 2px;
  }
}
.search-filter__select-state .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f3c5";
}
.search-filter__select-region .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f279";
}
.search-filter__select-month .selectBox:before {
  font-family: "Font Awesome 5 Solid";
  content: "\f073";
}
.search-filter__select-relax {
  .selectBox:before {
    font-family: "Font Awesome 5 Solid";
    content: "\f0ca";
  }
  .dropDown {
    width: calc(#{$page-wrapper} - 30px);
    position: absolute;
    left: -784px;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 254px;
    border-bottom: none;
    li {
      font-size: 16.28px;
      text-align: center;
      flex-basis: 16.666%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: 400;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.search-filter__button {
  width: 164px;
  background: $color-green2;
  color: $white;
  cursor: pointer;
  height: 100%;
  font-size: 20px;
  &:hover {
    background: lighten($color-green2, 2%);
  }
  &:active {
    background: darken($color-green2, 2%);
  }
}
.search-filter__user-search-link {
  position: absolute;
  left: 0;
  top: -32px;
  padding: 4px 12px;
  display: inline-block;
  color: $white;
  font-size: 12px;
  span {
    text-decoration: underline;
  }
}
.search-icon-routes {
  padding-right: 0;
  font-size: 48px;
  color: $color-green;
  &.type-6 {
    padding-right: 6px;
  }
}